
body {
    background: #000;
}

p {
    color: white;
}

/*style for user hint watermarks*/
#watermark {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 99;
    color: white;
}

#watermark2 {
    margin: 0;
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 99;
    color: white;
}

#SearchResults {
    overflow: auto;
}

#speed{
    float: right;
}
#speedLabel{
    float: right;
}

#vinBox {
    position: absolute;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    background-color: #42464c;
    color: white;
    border: none;
    top: 45%;
    left: 10%;
}

#joe {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(80%, -35%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
    padding: 10px;
}

.decode {
    position: absolute;
    font-size: 10px;
    background-color: #42464c;
    color: white;
    border: none;
    top: 62%;
    left: 10%;
}

#makeBox {
    top: 69%;
}

#modelBox {
    top: 76%;
}

#header {
    color: white;
    margin: 0;
    position: absolute;
    top: 27%;
    left: -25%;
    transform: translate(80%, -35%);
}

#subheader {
    color: white;
    margin: 0;
    position: absolute;
    top: 36%;
    left: -15%;
    transform: translate(80%, -35%);
}

