
body {
    background: #000;
}

p {
    color: white;
}

/*style for user hint watermarks*/
#watermark {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 99;
    color: white;
}

#watermark2 {
    margin: 0;
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 99;
    color: white;
}

#SearchResults {
    overflow: auto;
}

#vin {
    color: black;
    position: absolute;
    top: 40%;
    left: 5%;
}

#joe {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(80%, -35%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
  float: right;
  padding: 10px;
}