body {
    background: #000;
}

p {
    color: white;
}

/*style for user hint watermarks*/
#watermark {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 99;
    color: white;
}

#searchBox {
outline: none;
}

#SearchResults {
    overflow: auto;
}

#speed{
    position: absolute;
    top: 50px;
    right: 15px;
}
#oldCar{
    position: absolute;
    top: 68px;
    right: 15px;
}

#coolCar{
    position: absolute;
    top: 86px;
    right: 15px;
}

#speedLabel{
    position: absolute;
    top: 50px;
    right: 35px;
}
#oldCarLabel{
    position: absolute;
    top: 68px;
    right: 37px;
}

#coolCarLabel{
    position: absolute;
    top: 86px;
    right: 37px;
}

#vinBox {
    position: absolute;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    background-color: #42464c;
    color: white;
    border: none;
    top: 45%;
    left: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
    padding: 10px;
}

.decode {
    position: absolute;
    font-size: 10px;
    background-color: #42464c;
    color: white;
    border: none;
    top: 62%;
    left: 10%;
}

#makeBox {
    top: 69%;
}

#modelBox {
    top: 76%;
}

#header {
    color: white;
    margin: 0;
    position: absolute;
    top: 24%;
    left: -25%;
    transform: translate(80%, -35%);
}

#subheader {
    color: white;
    margin: 0;
    position: absolute;
    top: 33%;
    left: 10%;

}

#hinButton {
    margin: 0;
    position: absolute;
    top: 82%;
    left: 83%;
}

#hinYear {
    margin: 0;
    position: absolute;
    top: 82%;
    left: 93%;
}

